/* Tipografia */
body{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-style: normal;
}

/* Video de fondo */
.Fondo__video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 50%;
}

video::-webkit-media-controls {  /* Por si en algun navegador se ven las opciones de parar o reproducir video */
  display: none !important;
}
video::-moz-media-controls {
  display: none !important;
}


/* Texto de inicio */
.inicio{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inicio__cuadro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(245, 245, 220, 0.8);
    width: 400px;
    height: 150px;
}

.inicio__h1{
    justify-content: center;
    align-items: center;
}

.inicio__enlace{
    text-decoration: none;
    color: black;

}

.inicio__cuadro--peq{
    border-radius: 8px;
    background-color: rgba(181, 198, 255, 0.8);
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}